*{
    box-sizing: border-box;
}

body,
.link-main {
    color: rgb(163, 120, 55);
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    height: auto;
    width: 600px;
}

#scone-img {
    height: auto;
    width: 400px;
}

#main-main,
.head {
    font-size: 50px;
    background-color: navajowhite;
    border-bottom: 5px double;
    border-top: 5px double;
    padding: 10px;
}

#main-main {
    font-size: 60px;
    color:rgb(163, 120, 55);
    text-align: center;
}

.link-main {
    font-size: ;
}

.food-parent {
    display: flex;

}

.food-parent div {
    flex: 1;
    background: navajowhite;
    color:rgb(163, 120, 55);
    padding-top: 100px;    
    border: 5px solid rgb(211, 166, 99);
    margin: 10px;
    height: 300px;
    width: 500px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

ul,
.need {
    background-color: navajowhite;
    font-weight: bold;
    font-style: oblique;
}

